<div id="app">
  <div class="container">
    <h1 class="heading nes-text">
      Generate <span class="is-success">Shopify</span><br />Delegate Access Token<br />
    </h1>

    <div class="nes-container with-title is-dark">
      <h2 class="title">Generate DAT</h2>
      <form @submit.prevent="handleSubmit">
        <div class="nes-field">
          <label for="store-name">Store name</label>
          <input
            id="store-name"
            type="text"
            class="nes-input"
            placeholder="Shopify store name"
            v-model="storeName"
            :disabled="isLoading"
          />
        </div>
        <div class="nes-field">
          <label for="admin-api-access-token">Admin API access token</label>
          <input
            id="admin-api-access-token"
            type="text"
            class="nes-input"
            placeholder="Can be found in Shopify admin"
            v-model="adminApiAccessToken"
            :disabled="isLoading"
          />
        </div>
        <div class="nes-field form-submit-field">
          <button
            type="submit"
            class="nes-btn"
            :class="{ 'is-primary': !isLoading, 'is-disabled': isLoading }"
            :disabled="isLoading"
          >
            <span v-if="isLoading">Generating...</span>
            <span v-else>Generate DAT!</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="dialog-container" v-if="popupError || popupContent" :class="{ 'block': popupError || popupContent }">
    <div class="nes-dialog">
      <div v-if="popupContent">
        <div class="nes-field">
          <p class="title">Delegate Access Token</p>
          <input type="text" class="nes-input" :value="popupContent" />
        </div>
        <div class="dialog-menu nes-field">
          <button class="nes-btn is-primary" @click="handleClosePopupContent">
            Copy DAT!!
          </button>
        </div>
      </div>
      <div v-if="popupError">
        <div class="nes-field">
          <p class="title">Error</p>
          <p v-text="popupError"></p>
        </div>
        <div class="dialog-menu nes-field">
          <button class="nes-btn" @click="handleClosePopupError">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container notice nes-container is-centered with-title">
  <h3 class="title">Afraid of getting your credentials stolen?</h3>
  <p>Fear not, the repository is public. Clone it to generate DATs on your own!</p>
  <p>
    <a href="https://github.com/hasnaindev/delegate-access-token-generator" target="_blank">
      <i class="nes-icon github is-large"></i>
    </a>
  </p>
  <a href="https://www.linkedin.com/in/muhammad-hasnain-5b5484194/" target="_blank">
    <i class="nes-pokeball"></i>
  </a>
</div>
